In [18]:
import pandas as pd

# Assuming df is your DataFrame
# For demonstration, let's create a sample DataFrame
data = {'Position': ['Point Guard', 'Shooting Guard', 'Small Forward', 'Shooting Guard', 'Point Guard'],
        'Value1': [10, 20, 30,20, 30],
        'Value2': [15, 25, 35, 25, 35]}
df = pd.DataFrame(data)

In [19]:
df

         Position  Value1  Value2
0     Point Guard      10      15
1  Shooting Guard      20      25
2   Small Forward      30      35
3  Shooting Guard      20      25
4     Point Guard      30      35

In [14]:
position_values

array(['CB', 'LB', 'RB', 'RW', 'LW', 'P'], dtype=object)